<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linea del tiempo</title>
</head>
<body class="xd">
     <!--Encabezado-->
     <h1 class="t1x">Desarrollo de Aplicaciones Híbridas</h1>
     <h2 class="t1x">Línea del Tiempo</h2>
     <hr class="horizontal-lines">
     <!--Encabezado-->
    <section>
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/html164.png" class="img" /> </span></div>
                                <div class="content">
                                    <span class="year">No.1 HTML</span>
                                    <h3 class="title h4">Lo creó el físico Tim Berners-Lee en 1980</h3>
                                    <p class="description">
                                        El cual propuso un nuevo sistema de “hipertexto” para compartir documentos. Después de unir sus fuerzas con el ingeniero de sistemas Robert Cailliau, presentaron la propuesta ganadora llamada WorldWideWeb (W3). El primer documento formal con la descripción de HTML se publicó en 1991 bajo el nombre “HTML Tags”(Se conocía por comenzar con etiquetas HTML) 
                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/CSS.png" class="img" /></span></div>
                                <div class="content">
                                    <span class="year">No.2 CSS</span>
                                    <h3 class="title h4">Lo creó el Programador Håkon Wium Lie en 1994</h3>
                                    <p class="description">
                                        Es el mejor conocido por desarrollar hojas de estilo en cascada (CSS) mientras trabajaba con Tim Berners-Lee y Robert Cailliau en el CERN en 1994, CSS es un lenguaje de diseño gráfico para definir y crear la presentación de un documento estructurado escrito en un lenguaje de marcado.
                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/js.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.3 JS</span>
                                    <h3 class="title h4">Lo creó el Programador Bredan Eich en 1995</h3>
                                    <p class="description">
                                        Creó una forma de agregar programas a páginas web en el navegador Netscape Navigator. En su momento fue una idea novedosa. En los primeros días de la World Wide Web, HTML era bastante simple, y bastante fácil de aprender casi todo lo que se necesitaba saber para agrupar páginas web. Cualquiera podía hacer una Web juntando tablas, texto y añadiendo alguna imagen.                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/ES.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.4 ECMAScript</span>
                                    <h3 class="title h4">Lo creó Brendan Eich en 1997</h3>
                                    <p class="description">
                                        Creó una selección de lenguaje de programación, y estuvo basado en el popular lenguaje JavaScript propuesto como estándar por Netscape Communications Corporation. Actualmente está aceptado como estándar ISO 16262.
                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                         <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/android.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.5 Android</span>
                                    <h3 class="title 4">Lo creó Rich Miner, Nick Sears, Chris White y Andy Rubin en 2003.</h3>
                                    <p class="description">
                                        Crearon un sistema operativo para poder crear aplicaciones para dispositivos móviles que fueran más conscientes de la localización y las preferencias de los usuarios.                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/IOS.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.6 IOS</span>
                                    <h3 class="title h4">Lo creó Apple en 2007.</h3>
                                    <p class="description">
                                        Creó un sistema operativo móvil que provee la respuesta a las órdenes del usuario es inmediata y provee una interfaz fluida que satisface las necesidades de cualquier usuario.                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/phonegap.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.7 PhoneGap</span>
                                    <h3 class="title h4">Lo creó Nitobi en 2008</h3>
                                    <p class="description">
                                        Creó un framework para el desarrollo de aplicaciones nativas de sistemas operativos móviles, haciendo uso de tecnologías web como HTML5, CSS3.                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/aceleradortitanio.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.8 Acelerador de titanio</span>
                                    <h3 class="title h4">Lo creó Appcelerator, Inc en 2008.</h3>
                                    <p class="description">    
                                        Creó  un marco de código abierto que permite desarrollar aplicaciones con un aspecto visual nativo, y correrán como una app nativa ya que se pueden utilizar todas las funciones de los sdk de cada plataforma a través de las potentes APis de Titanio.                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/jquery.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.9 JQuery móvil</span>
                                    <h3 class="title h4">Lo creó The jQuery Project en 2010.</h3>
                                    <p class="description">
                                        Creó  Es un framework de interfaz gráfica especialmente diseñado para el desarrollo de aplicaciones web para móviles que pretende unificar el diseño de interfaces de usuario para la mayoría de dispositivos móviles del mercado. El diseño es fácilmente modificable.                                    
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/wphone.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.10 Window phone</span>
                                    <h3 class="title h4">Lo creó Microsoft en 2010</h3>
                                    
                                    <p class="description">
                                        Creó un sistema operativo móvil para teléfonos inteligentes y otros dispositivos móviles, con la finalidad de suplantar el conocido Windows Mobile.
                                    </p>   
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/xamarin.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.11 Xamarin</span>
                                    <h3 class="title h4">Lo creó Miguel de Icaza, Nat Friedman en 2011.</h3>
                                    <p class="description">
                                        Creó un framework que permite desarrollar en C# con una biblioteca de clases y un tiempo de ejecución que funciona en muchas plataformas, como iOS, Android y Windows. Además, permite compilar aplicaciones nativas (no interpretadas) que tienen un rendimiento suficiente incluso para juegos exigentes.</p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/emobc.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.12 eMobc</span>
                                    <h3 class="title h4">Lo creó Neurowork Consulting SL en 2012.</h3>
                                    <p class="description">
                                        Creó un marco para desarrollar aplicaciones móviles nativas multiplataforma en iOS, Android y HTML5 basado en XML.</p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/ionic.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.13 IONIC</span>
                                    <h3 class="title h4">Lo crearon Max Lynch, Ben Sperry y Adam Bradley de Drifty Co en 2013.</h3>
                                    <p class="description">
                                        Creó una herramienta, gratuita y open source(framework), para el desarrollo de aplicaciones híbridas basadas en HTML5, CSS y JS. Está construido con Sass y optimizado con AngularJS.</p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/react.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.14 REACT NATIVE</span>
                                    <h3 class="title h4">Lo crearon Jordan Walke, Facebook y comunidad en 2015.</h3>
                                    <p class="description">
                                        Crearon un marco JavaScript para crear aplicaciones nativas reales para iOS y Android, basado en la librería de JavaScript React para la creación de componentes visuales, cambiando el propósito de los mismos para, en lugar de ser ejecutados en navegador, correr directamente sobre las plataformas móviles nativas, en este caso iOS y Andorid. </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/flutter.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.15 Flutter</span>
                                    <h3 class="title h4">Lo creó GOOGLE en 2015.</h3>
                                    <p class="description">
                                        Creó un SDK código fuente abierto de desarrollo de aplicaciones de móviles. Se suele usar para desarrollar interfaces de usuario para aplicaciones en Android, iOS y Web así como método primario para crear aplicaciones para Google Fuchsia.1 </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/famoso.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.16 FAMOSO</span>
                                    <h3 class="title h4">Lo creó Famous Industries, Inc en 2015.</h3>
                                    <p class="description">
                                        Creó un framework que combina el árbol DOM (el código HTML) con WebGL, mostrando todo en un lienzo, similar a lo que los motores de juego HTML hacen. Esta nueva técnica permite el framework para ejecutar sus aplicaciones en 60 fps, que es tan suave como la mayoría de las aplicaciones nativas. </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/quasar.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.17 Quásar</span>
                                    <h3 class="title h4">Lo creó Libre en 2019.</h3>
                                    <p class="description">
                                        Creó un framework que ayuda a crear aplicaciones de escritorio y teléfono / tableta simultáneamente con HTML5 y javascript. </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/112x112.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">Axel López Rentería</span>
                                    <h3 class="title h4">18401154 Semestre 9</h3>
                                    <p class="description">
                                        👋≧◉ᴥ◉≦ </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
    

</body>
</html>