<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linea del tiempo</title>
</head>
<body class="xd">
     <!--Encabezado-->
     <h1 style="color: green;text-align: center;">Desarrollo de Aplicaciones Híbridas</h1>
     <h2 style="color: green;text-align: center;">Línea del Tiempo</h2>
     <hr style="height: 20px;
     background-image: linear-gradient(
       currentColor,
       currentColor 33.33%,
       transparent 33.33%,
       transparent 100%);
     background-size: 100% 3px;
     width: 100%;
     border: 0;
    margin: 1.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;">
     <!--Encabezado-->
    <section>
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/html164.png" class="img" /> </span></div>
                                <div class="content">
                                    <span class="year">No.1 HTML</span>
                                    <h3 style="font-size: 25px;
                                    font-weight: bold;
                                    color: rgba(211,207,205,1);
                                    margin-top: 0;">Lo creó el físico Tim Berners-Lee en 1980</h3>
                                    <p class="description">
                                        El cual propuso un nuevo sistema de “hipertexto” para compartir documentos. Después de unir sus fuerzas con el ingeniero de sistemas Robert Cailliau, presentaron la propuesta ganadora llamada WorldWideWeb (W3). El primer documento formal con la descripción de HTML se publicó en 1991 bajo el nombre “HTML Tags”(Se conocía por comenzar con etiquetas HTML) 
                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/CSS.png" class="img" /></span></div>
                                <div class="content">
                                    <span class="year">No.2 CSS</span>
                                    <h3 style="font-size: 25px;
                                    font-weight: bold;
                                    color: rgba(211,207,205,1);
                                    margin-top: 0;">Lo creó el Programador Håkon Wium Lie en 1994</h3>
                                    <p class="description">
                                        Es el mejor conocido por desarrollar hojas de estilo en cascada (CSS) mientras trabajaba con Tim Berners-Lee y Robert Cailliau en el CERN en 1994, CSS es un lenguaje de diseño gráfico para definir y crear la presentación de un documento estructurado escrito en un lenguaje de marcado.
                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/js.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.3 JS</span>
                                    <h3 style="font-size: 25px;
                                    font-weight: bold;
                                    color: rgba(211,207,205,1);
                                    margin-top: 0;">Lo creó el Programador Bredan Eich en 1995</h3>
                                    <p class="description">
                                        Creó una forma de agregar programas a páginas web en el navegador Netscape Navigator. En su momento fue una idea novedosa. En los primeros días de la World Wide Web, HTML era bastante simple, y bastante fácil de aprender casi todo lo que se necesitaba saber para agrupar páginas web. Cualquiera podía hacer una Web juntando tablas, texto y añadiendo alguna imagen.                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/android.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.4 Android</span>
                                    <h3 style="font-size: 25px;
                                    font-weight: bold;
                                    color: rgba(211,207,205,1);
                                    margin-top: 0;">Lo creó Rich Miner, Nick Sears, Chris White y Andy Rubin en 2003.</h3>
                                    <p class="description">
                                        Crearon un sistema operativo para poder crear aplicaciones para dispositivos móviles que fueran más conscientes de la localización y las preferencias de los usuarios.
                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                         <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/IOS.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.5 IOS</span>
                                    <h3 style="font-size: 25px;
                                    font-weight: bold;
                                    color: rgba(211,207,205,1);
                                    margin-top: 0;">Lo creó Apple en 2007.</h3>
                                    <p class="description">
                                        Creó un sistema operativo móvil que provee la respuesta a las órdenes del usuario es inmediata y provee una interfaz fluida que satisface las necesidades de cualquier usuario.                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/phonegap.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.6 PhoneGap</span>
                                    <h3 style="font-size: 25px;
                                    font-weight: bold;
                                    color: rgba(211,207,205,1);
                                    margin-top: 0;">Lo creó Nitobi en 2008</h3>
                                    <p class="description">
                                        Creó un framework para el desarrollo de aplicaciones nativas de sistemas operativos móviles, haciendo uso de tecnologías web como HTML5, CSS3. </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/angular.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.7 Angular</span>
                                    <h3 style="font-size: 25px;
                                    font-weight: bold;
                                    color: rgba(211,207,205,1);
                                    margin-top: 0;">Lo creó Miško Hevery conjunto con Google Inc en 2010.</h3>
                                    <p class="description">
                                        Creó un framework de ingeniería de software de código abierto que se utiliza para crear aplicaciones web de una sola página. Los desarrolladores también lo utilizan para crear menús animados para páginas web HTML. Ademas ángular tiene módulos que se forma por componentes independientes totalmente unos de otros, se pueden insertar componentes dentro de otros, podemos asignar estilos solo a componentes, etc.</p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/wphone.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.8 Window phone</span>
                                    <h3 style="font-size: 25px;
                                    font-weight: bold;
                                    color: rgba(211,207,205,1);
                                    margin-top: 0;">Lo creó Microsoft en 2010</h3>
                                    <p class="description">    
                                        Creó un sistema operativo móvil para teléfonos inteligentes y otros dispositivos móviles, con la finalidad de suplantar el conocido Windows Mobile.</p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/xamarin.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.9 Xamarin</span>
                                    <h3 style="font-size: 25px;
                                    font-weight: bold;
                                    color: rgba(211,207,205,1);
                                    margin-top: 0;">Lo creó Miguel de Icaza, Nat Friedman en 2011.</h3>
                                    <p class="description">
                                        Creó un framework que permite desarrollar en C# con una biblioteca de clases y un tiempo de ejecución que funciona en muchas plataformas, como iOS, Android y Windows. Además, permite compilar aplicaciones nativas (no interpretadas) que tienen un rendimiento suficiente incluso para juegos exigentes.
                                    </p>                                    
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/apachecordova.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.10 Cordova</span>
                                    <h3 style="font-size: 25px;
                                    font-weight: bold;
                                    color: rgba(211,207,205,1);
                                    margin-top: 0;">Lo creó Apache con el código fuente de PhoneGap en 2011</h3>
                                    
                                    <p class="description">
                                        Creó un marco de desarrollo de código abierto para programar aplicaciones móviles multiplataforma en los tres lenguajes estándar de creación de proyectos web: HTML5, CSS3 y JavaScript. Por tanto no es necesario utilizar lenguajes o soluciones nativas para cada plataforma.
                                    </p>   
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/react2.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.11 REACT</span>
                                    <h3 style="font-size: 25px;
                                    font-weight: bold;
                                    color: rgba(211,207,205,1);
                                    margin-top: 0;">Lo creó Jordan Walke Ingeniero de software de facebook en 2013.</h3>
                                    <p class="description">
                                        Creó una librería Javascript para crear interfaces de usuario o para la vista Front de tu aplicación o página web, cuando integras React JS con HTML y CSS, la carga de las páginas son más rápidas porque React JS usa componentes que los puedes escribir una sola vez y luego reutilizarlos cuando sea necesario mostrar un elemento en el DOM como un botón, una imagen, video, textos, encabezados, etc.</p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/ionic.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.12 IONIC</span>
                                    <h3 style="font-size: 25px;
                                    font-weight: bold;
                                    color: rgba(211,207,205,1);
                                    margin-top: 0;">Lo crearon Max Lynch, Ben Sperry y Adam Bradley de Drifty Co. en 2013.</h3>
                                    <p class="description">
                                        Creó una herramienta, gratuita y open source(framework), para el desarrollo de aplicaciones híbridas basadas en HTML5, CSS y JS. Está construido con Sass y optimizado con AngularJS.</p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/swift.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.13 Swift(IOS)</span>
                                    <h3 style="font-size: 25px;
                                    font-weight: bold;
                                    color: rgba(211,207,205,1);
                                    margin-top: 0;">Lo creó Apple en 2014</h3>
                                    <p class="description">
                                        Creó un lenguaje de programación multiparadigma enfocado en el desarrollo de aplicaciones para iOS y macOS. Fue presentado en la WWDC 2014 y está diseñado para integrarse con los Frameworks Cocoa y Cocoa Touch; puede usar cualquier biblioteca programada en Objective-C y llamar a funciones de C. También es posible desarrollar código en Swift compatible con Objective-C bajo ciertas condiciones.</p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/react.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.14 REACT NATIVE</span>
                                    <h3 style="font-size: 25px;
                                    font-weight: bold;
                                    color: rgba(211,207,205,1);
                                    margin-top: 0;">Lo crearon Jordan Walke, Facebook y comunidad en 2015.</h3>
                                    <p class="description">
                                        Crearon un marco JavaScript para crear aplicaciones nativas reales para iOS y Android, basado en la librería de JavaScript React para la creación de componentes visuales, cambiando el propósito de los mismos para, en lugar de ser ejecutados en navegador, correr directamente sobre las plataformas móviles nativas, en este caso iOS y Andorid.</p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/flutter.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.15 Flutter</span>
                                    <h3 style="font-size: 25px;
                                    font-weight: bold;
                                    color: rgba(211,207,205,1);
                                    margin-top: 0;">Lo creó GOOGLE en 2017.</h3>
                                    <p class="description">
                                        Creó un SDK código fuente abierto de desarrollo de aplicaciones de móviles. Se suele usar para desarrollar interfaces de usuario para aplicaciones en Android, iOS y Web así como método primario para crear aplicaciones para Google Fuchsia.1</p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        

                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="./assets/112x112.png" class="img"></span></div>
                                <div class="content">
                                    <span class="year">Axel López Rentería</span>
                                    <h3 style="font-size: 25px;
                                    font-weight: bold;
                                    color: rgba(211,207,205,1);
                                    margin-top: 0;">18401154 Semestre 9</h3>
                                    <p class="description">
                                        👋≧◉ᴥ◉≦ </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
    

</body>
</html>